 #example2 {
	
	width: 70%;
	margin-left: 10%;
}
 #user_table {
	
	width: 70%;
	margin-left: 10%;
}

 #credit_search_table {
	
	width: 70%;
	margin-left: 10%;
}

 #customer_index_table {
	
	width: 70%;
	margin-left: 10%;
}

 #project_index_table {
	
	width: 70%;
	margin-left: 10%;
}

 #import_log_table {
	
	width: 70%;
	margin-left: 10%;
}

 #log_table {
	
	width: 70%;
	margin-left: 10%;
}